.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .container2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  color: black;
}
.App .footer {
  font-family: monospace;
  margin-top: 10px;
}
.App .footer p {
  margin: 0 auto;
  color: black;
}

.container {
  background-color: #ed145b;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 5px auto;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  color: white;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
.card {
  background-color: #ed145b;
  border: none;
}
.card-body {
  border: none;
}
h1 {
  color: white;
}
a {
  color: black;
}
a:hover {
  color: white;
}
